:root {
  --primary-background: #241d22;
}

.general-container-trainer {
  background: rgb(121, 120, 145);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(71, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 300px;
  height: 150px;
  margin-top: -3rem;
  margin-left: 3.5rem;
}
.img-skils img {
  width: 60px;
  height: 60px;
}
.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.camilo-letter {
  height: 250px;
  margin-bottom: -8rem;
  filter: drop-shadow(0 4px 8px rgba(37, 37, 37, 0.833));
}
.skils-general {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
}
.skils-general ul {
  list-style: none;
}
.list-skils ul {
  margin-right: 2rem;
}
.list-skils ul li {
  position: relative;
  margin-bottom: 2rem;
  font-size: larger;
  font-family: 'Dosis', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  text-decoration: none;
  z-index: 5;
  color: white;
  text-shadow: 2px 2px 4px #241d22;
}
.img-skils ul {
  position: relative;
  margin-left: 2rem;
  z-index: 6;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.5));
}
.background-camilo img {
  width: 320px;
  position: absolute;
  z-index: 1;
  margin-top: -16rem;
  margin-left: 2rem;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.082), rgb(0, 0, 0));
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.5));
}
.button-container {
  position: relative;
  display: inline-block;
}
.button-home {
  font-size: 15px;
  color: #000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  animation: zoom 2s infinite;
  position: absolute;
  z-index: 2;
  text-shadow: 2px 2px 4px #241d22;
  margin-left: -4rem;
  margin-top: -3rem;
}
.button-home::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: transform 0.3s ease;
}

.button-container:hover .button-home::before {
  transform: translate(-50%, -50%) scale(1.5);
}
@keyframes zoom {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
